In [ ]:
# This is a sample Notebook
# We recommend including the below cell in your notebooks so that candidates can easily install packages they need.

In [2]:
# If you'd like to install packages that aren't installed by default, list them here.
# This will ensure your notebook has all the dependencies and works everywhere

import sys
!{sys.executable} -m pip install xgboost sklearn

Requirement already satisfied: xgboost in /Users/lin/anaconda3/lib/python3.7/site-packages (0.82)
Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scipy in /Users/lin/anaconda3/lib/python3.7/site-packages (from xgboost) (1.1.0)
Requirement already satisfied: numpy in /Users/lin/anaconda3/lib/python3.7/site-packages (from xgboost) (1.15.4)
Requirement already satisfied: scikit-learn in /Users/lin/anaconda3/lib/python3.7/site-packages (from sklearn) (0.20.1)
Building wheels for collected packages: sklearn
  Running setup.py bdist_wheel for sklearn ... done
  Stored in directory: /Users/lin/Library/Caches/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

import sys
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [2]:
# Small datasets can be added to the project directly and imported by referring to the file name
df = pd.read_csv("iris.csv")

# To import large datasets (over 5MBs), you can host them externally and import by directly referring to the URL.
# For example
# df = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/data/iris.csv')

In [4]:
%matplotlib inline
from pandas.plotting import andrews_curves

andrews_curves(df, 'Name')

TypeError: andrews_curves() missing 1 required positional argument: 'class_column'

In [5]:
# Define a function to check missing values

def check_null(dataset):
    
    missing_values = {'Column Name' : [] , 'Number of null value': []}

    for col in dataset:

        missing_values['Column Name'].append(col)
        missing_values['Number of null value'].append(dataset[col].isnull().sum())

    return pd.DataFrame(data = missing_values)

In [6]:
check_null(df)

     Column Name  Number of null value
0             Id                     0
1  SepalLengthCm                     0
2   SepalWidthCm                     0
3  PetalLengthCm                     0
4   PetalWidthCm                     0
5        Species                     0

In [8]:
# Describe the dataset

print("Original data shape is", df.shape)

df.describe()

Original data shape is (150, 6)

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000